<robot name="base_link" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="yaml_file" value="$(find turtle_brick)/config/turtle.yaml" />
    <xacro:property name="props" value="${xacro.load_yaml(yaml_file)}" />
    <xacro:property name="stem_radius"  value="${props['stem_radius']}" />
    <xacro:property name="stem_height"  value="${props['stem_height']}" />
    

    <xacro:macro name="stem" params="name">
        <link name="${name}">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="${stem_radius}" 
                              length="${stem_height}"/>
                </geometry>
                <material name="stem_color">
                    <color rgba="1.0 0.0 0.0 1.0"/>
                </material>
            </visual>
        </link>
    </xacro:macro>

</robot>
